*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$firstColor: #FEFAF6;
$secondColor: #6CE8BB;
$backColor: #1A272E;

$titleFont: alumni sans;
$titleFontWeight: bolder;
$titleSize: 100px;
$titleMobileSize:50px;


$textFont: inter;
$textSize: 18px;
$textWidth: 30%;
$textFontWeight: lighter; 
$textLineHeight:1.5;
$textAlign: justify;
$textMobileSize:16px;
$textMobileWidth: 80%;
$textMobileAlign: center;

$buttonFontSize: 30px;
$buttonWidth: 189px;
$buttonHeight: 49px;
$buttonMobileFontSize: 22px;
$buttonMobileWidth: 138px;
$buttonMobileHeight: 36px;
$buttonDecoration: none;

$secondButtonBorder: #6CE8BB solid 2px;

$projectImgSize: 70vw;
$projectMobileImgSize: 90vw;

$logoSize: 55%;

$imgToolSize: 35px;

$footherFontSize: 20px;

$marginLeft: 295px;
$marginMobile: 50px auto;


